
<form action="/signup" id="form" method="post">
    <h1>Inscription</h1>
    <div class="input-control">
        <label for="firstname">Nom :</label>
        <input type="text" id="firstname" name="firstname" placeholder="Entrer votre nom" required>
    </div>
    <div class="input-control">
        <label for="lastname">Prenom :</label>
        <input type="text" id="lastname" name="lastname" placeholder="Entrer votre prenom" required>
    </div>
    <button type="submit">Envoyer</button>
    <a href="/teams/">La liste des groupes</a>
</form>

