<div class="container">
    <h1>Liste des groupes</h1>
    <table>
        <thead>
            <tr>
                <th>Groupe 1</th>
                <th>Groupe 2</th>
                <th>Groupe 3</th>
                <th>Groupe 4</th>
                <th>Groupe 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                        <li>Ouedraogo Bibata</li>
                        <li>Kientega Nourdine</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>